# This is a basic workflow to help you get started with Actions
name: SSHX Ubuntu Shell

on:
  workflow_dispatch:

jobs:
  sshx:
    runs-on: ubuntu-latest

    steps:
      - name: Install SSHX
        run: |
          curl -fsSL https://sshx.io/get | sh

      - name: Start SSHX session
        run: |
          sshx
