name: Ubuntu CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update system
        run: sudo apt update

      - name: Install dependencies
        run: |
          sudo apt install -y curl git unzip

      - name: Run your script
        run: |
          echo "Running on Ubuntu"
          uname -a
